/* public/styles.css */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

#chat {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

#messages {
  list-style-type: none;
  padding: 0;
}

#messages li {
  margin-bottom: 10px;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

#form {
  margin-top: 15px;
  display: flex;
}

#input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 8px 0 0 8px;
  background-color: #f5f5f5;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

#input:focus,
button:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #aaa;
}

:-moz-placeholder {
  color: #aaa;
}

::-moz-placeholder {
  color: #aaa;
}

:-ms-input-placeholder {
  color: #aaa;
}

/* public/styles.css */

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
}

#username {
  text-align: center;
  margin-top: 10px;
}

#name {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #f5f5f5;
}

#joinButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#joinButton:hover {
  background-color: #0056b3;
}
